body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 76%);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.WeatherForm{
    margin: 20px;
}
.cityinput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(24, 65, 24);
    color: white;
    border:none;
    border-radius:5px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: hsl(95, 23%, 51%);

}

.card{
    background: linear-gradient(180deg, rgb(170, 170, 218), rgb(224, 170, 69));
    padding: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    margin-top:0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin:5px 0;
}
.citydisplay, .tempdisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.705)
    margin-bottom : 25px;
}
.humiditydisplay{
    font-weight: bold;
    margin-bottom: 25px;

}
.descpdisplay{
    font-display: italic;
    font-weight: bold;
    font-size: 2rem;
}
.WeatherEmoji{
    margin:0;
    font-size: 7.5rem;
}
.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}